@font-face{
    font-family:"lale";
    src: url("E:\matin\font\Lalezar-Font\TTF")
        format
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 611px;width: 1360px;
    background-image: url(img/);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-blend-mode: soft-light;
}
.header .nav .navlist{
    list-style-type: none;
    color: orange;
    display:inline-block;
    padding: 15px;
    border: 2px solid black;
    list-style-type: none;
    background-color: black;
    font-size: 40px;

    

}
.header .nav{
    text-align: center;
    position: fixed;
    top: 0;
    right: 360px;
}
.header .nav .navlist:hover{
color: orange;
    background-color: black;
    border:2px solid orange;
    cursor: pointer;
}
div ul{
    display: block;
}
.header .nav .link{
    
}
.header .title{
    background-color: orange;
    display: block;
    width: 650px;
    margin:auto ;
    margin-top: 144px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    color: black;
    font-size: 50px;
    text-align: center;
}
.header .title{
    background-color: orange;
    display: block;
    width: 630px;
    margin:auto ;
    margin-top: 137px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    color: black;
    font-size: 55px;
    text-align: center;
    border: 2px solid black;
    font-family: lale;
}.p1{
    background-color: orange;
    display: block;
    width: 588px;
    margin:auto ;
    margin-top: 95px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    color: black;
    font-size: 45px;
    text-align: center;
    border: 2px solid black;
}
.memberpic{
    width: 344px;height: 458px;
    height: auto;
}
.people{
    
    width: 350px; height: 1000px;
    display: inline-block;
    margin: 3px;
    background-color: orange;
    border: 3px solid white;

    
}
.memberlist{
    width: 100%;
 
}
.member{
    text-align: center;
    
}
.membername{
    padding: 6px;
    background-color: black;
    color: orange;
    border-radius: 15px;
    width: 150px;
    margin: auto;
    margin-top: 9px;
    margin-bottom: 9px;
    border: 3px solid white;
}
.people2{
    
    width: 350px; height: 885px;
    display: inline-block;
    margin: 3px;
    background-color: orange;
    border: 3px solid white;

    
}
.memberdis{
    padding: 10px;
    font-size: 20px;
}
.people3{
    
    width: 350px; height: 770px;
    display: inline-block;
    margin: 3px;
    background-color: orange;
    border: 3px solid white;
}
.aboutsite{
    background-image: url(img/poster_f3a21d36-621b-4e0f-8536-76a89bbb09d7.jpeg);
    height: 600px;width: 1100;
    background-size: cover;
    background-clip: border-box;
    background-origin: border-box;
    background-attachment: scroll;
    text-align: center;
    padding: 45px;
    background-color: #835f5f;
    background-blend-mode: multiply


}
.abouttext{
    font-size: 20px;
}
.h{
    font-size: 35px;
}
.abouttext{
    margin-top: 10px;
    text-align: justify;
}
.note{
    
    background-color:orange;
    width: 421px;height: 521px;
    display: block;
    margin: auto;
    padding: 70px;
    border: 3px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    
    
    
    
}

